<div class="footer">
    <div class="container">
        <div class="footer-info">
            Meditations is a series of personal writings by Marcus Aurelius, Roman Emperor from AD 161 to 180, recording his private notes to himself and ideas on Stoic philosophy. <a href="https://en.wikipedia.org/wiki/Meditations" target="_blank">Learn more here.</a>
        </div>
    
        <div>
            <form action="https://github.com/owenKraft/blog-api-demo" target="_blank">
                <button class="github-button">
                    <img class="github-icon" src="/images/github.png" />
                    <span>GitHub repo</span>
                </button>
            </form>
        </div>
    
        <div class="footer-more-info">
            This is a POC clone of a Substack space, built for <a href="https://www.theodinproject.com/paths/full-stack-javascript/courses/nodejs/lessons/blog-api" target="_blank">the Odin Project.</a> 
        </div>
    </div>

</div>